<header>
  <h1>App title: {{title}}</h1>

  <nav>
    {{#linkTo "index"}}Index{{/linkTo}}
    {{#linkTo "about"}}About{{/linkTo}}
    {{#linkTo "cars"}}Cars{{/linkTo}}
    {{#linkTo "makes"}}Makes{{/linkTo}}
  </nav>
</header>

<div id='wrapper'>
  {{outlet}}
</div>

<footer>
  Footer!
</footer>
