body {
  background: #eee;
  margin: 0;
}
header {
  padding: 10px;
}
#wrapper {
  padding: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 5px black;
}
