body {
  background: #eee;
  margin: 0;
}
header {
  padding: 10px;
}
#wrapper {
  padding: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 5px black;
}
.destroy {
  color: red;
  cursor: pointer;
  background: black;
  padding: 0 5px;
  border-radius: 10px;
}
form th {
  text-align: right;
}
th, td {
  border: 1px solid black;
}
tr:nth-child(odd) {
  background-color: #aaa;
}
